<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="{{site.url}}/assets/css/datasheet.css" crossorigin="anonymous">
      <title>Datasheet {{page.title}} - Rev {{page.version}}</title>
  </head>
    <body class="page">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <img src="{{site.url}}/assets/img/Bitcraze-logo-2017-light-background-for large sizes_256.png" />
            </div>
            <div class="col-md-8">
              <div class="row">
                <div class="col-md-12">
                    <h1 style="text-align: right">{{page.title}}</h1>
                </div>
              </div>
              <div class="row">
                  <div class="col-md-12">
                    <span class="pull-right">
                        SKU: {{page.sku}}
                    </span>
                  </div>
                </div>
            </div>
          </div>
          <div class="row">
            <hr class="ds-header">
          </div>
          <div class="row">
            {{content}}
          </div>
        </div>
    </body>
</html>
