<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.css" crossorigin="anonymous">
      <link rel="stylesheet" href="{{site.url}}/_html/assets/css/datasheet.css" crossorigin="anonymous">
      <title>{{page.title}} Rev {{page.version}}</title>
  </head>
    <body class="page">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <img src="{{site.url}}/_html/assets/img/Bitcraze-logo-2017-light-background-for large sizes_256.png" />
            </div>
            <div class="col-md-6">
              <div class="row">
                  <div class="col-md-12">
                      <span class="pull-right">Rev {{page.version}}</span>  
                  </div>    
              </div>
              <div class="row">
                <div class="col-md-12">
                  <span class="pull-right">
                      <h1>{{page.title}}</h1>
                  </span>
                    
                </div>  
              </div>
              <div class="row">
                  <div class="col-md-12">
                    <span class="pull-right">
                        SKU: {{page.sku}}
                    </span>   
                  </div>  
                </div>
            </div>
          </div>
          <hr class="ds-header">
          <div class="row">
            {{content}}
          </div>      
        </div>
    </body>
</html>